<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Test Suite">
 <listeners>
<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
</listeners>
<test name="Free CRM App Test Cases">
<classes>
<class name="com.crm.qa.testcases.CustomerLoginPageTest"/>
<class name="com.crm.qa.testcases.CustomerDepositTestcase"/>
<class name="com.crm.qa.testcases.CustomerWithdrawlTestcase"/>
<class name="com.crm.qa.testcases.AddToCustomerTestcase"/>
<class name="com.crm.qa.testcases.OpenAccountTestcase"/>
<class name="com.crm.qa.testcases.SearchCustomersTestcase"/>

</classes>
</test>
</suite>